# Python stuff
Pipfile.lock
**/*.pyc
venv/
env/
.pytest_cache
*.cprof

# IDE stuff
.idea
.spyderworkspace
.vscode

# Images
*.png

# Data
*.json
*.pkl
*.pickle
*.db
logs/

# Python packaging stuff
autumn.egg*
build/
dist/

# R stuff
.Rhistory

# Scripts, secrets
osx_boot.sh
*.secret.*

# Old model runs
data/marshall_islands
data/mongolia
data/covid_*
data/sir_example_*

# Models runs and calibrations
data/outputs

# Random stuff
projects
saved_*
saved_optimisation_analyses/
saved_uncertainty_analyses/
saved_*
projects
autumn_from_summer/databases/outputs*
autumn_from_summer/mongolia/mcmc_chistmas_2019/
dummy/
apps/covid_19/targets/philippines/Philippines_data_2020May20.pdf
apps/covid_19/mixing_optimisation/optimisation_outputs/united-kingdom_config_0_results.csv
apps/covid_19/mixing_optimisation/detection.csv
data/test_get_sample/opti_sample.csv
data/xls/data_liberia.csv
