python_docx==0.8.6
eventlet==0.21.0
Flask==0.10.1
Flask_SocketIO==2.8.6
Flask_WTF==0.14.2
graphviz==0.5.2
matplotlib==1.5.3
matplotlib==1.5.3
numpy==1.11.1
openpyxl==2.3.2
pandas==0.18.1
matplotlib==1.5.3
scipy==0.18.1
WTForms==2.1
xlrd==0.9.3
corner==2.0.1
docx==0.2.4
emcee==2.2.1
