<button type="button" class="menu_button">
    <span class="menu_item">Model running</span>
</button>
<div id="model_running" class="group">
    <div class="field">
        {{ form.submit }}
    </div>
    <div class="field">
        {{ form.country.label }}
        {{ form.country }}
    </div>
    <div class="field">
        {{ form.integration_method.label }}        
        {{ form.integration_method }}
    </div>
    <div class="field">
        {{ form.fitting_method.label }}
        {{ form.fitting_method }}
    </div>
    <div class="field">
        {{ form.fitting_smoothness.label }}
        {{ form.fitting_smoothness(min=0, max=5, step=0.1, id="fitting_smoothness_input", oninput="fitting_smoothness_output.value = fitting_smoothness_input.value") }}
        <output id="fitting_smoothness_output">{{ form.fitting_smoothness.data }}</output>
    </div>
    <div class="field">
       {{ form.integration_time_step.label }}
       {{ form.integration_time_step(min=0.005, max=0.5, step=0.005,  id="integration_time_step_input", oninput="integration_time_step_output.value = integration_time_step_input.value") }}
       <output id="integration_time_step_output">{{ form.integration_time_step.data }}</output>
    </div>
</div>
