<button type="button" class="menu_button" onclick="toggle('uncertainty');">
    <span class="menu_item">Uncertainty</span>
</button>
<div id="uncertainty" class="group">
    <div class="field">
        {{ form.output_uncertainty }}
        {{ form.output_uncertainty.label }}
    </div>
    <div class="field">
        {{ form.adaptive_uncertainty }}
        {{ form.adaptive_uncertainty.label }}
    </div>
    <div class="field">
        {{ form.uncertainty_runs.label }}
        {{ form.uncertainty_runs(size=3) }}
    </div>
    <div class="field">
        {{ form.burn_in_runs.label }}
        {{ form.burn_in_runs(size=3) }}
    </div>
    <div class="field">
        {{ form.search_width.label }}
        {{ form.search_width(size=3) }}
    </div>
    <div class="field">
        {{ form.pickle_uncertainty.label }}
        {{ form.pickle_uncertainty }}
    </div>
</div>
