<div id="elaborations" class="group">
    <h3>Elaborations</h3>
    <div class="field">
        {{ form.is_lowquality }}
        {{ form.is_lowquality.label }}
    </div>
    <div class="field">
        {{ form.is_amplification }}
        {{ form.is_amplification.label }}
    </div>
    <div class="field">
        {{ form.is_misassignment }}
        {{ form.is_misassignment.label }}
    </div>
    <div class="field">
        {{ form.is_vary_detection_by_organ }}
        {{ form.is_vary_detection_by_organ.label }}
    </div>
</div>
