<button type="button" class="menu_button" onclick="toggle('elaborations');">
    <span class="menu_item">Elaborations</span>
</button>
<div id="elaborations" class="group">
    <div class="field">
        {{ form.is_lowquality }}
        {{ form.is_lowquality.label }}
    </div>
    <div class="field">
        {{ form.is_amplification }}
        {{ form.is_amplification.label }}
    </div>
    <div class="field">
        {{ form.is_misassignment }}
        {{ form.is_misassignment.label }}
    </div>
    <div class="field">
        {{ form.is_vary_detection_by_organ }}
        {{ form.is_vary_detection_by_organ.label }}
    </div>
</div>
