<button type="button" class="menu_button" onclick="toggle('model_stratifications');">
    <span class="menu_item">Model stratifications</span>
</button>
<div id="model_stratifications" class="group">
    <div class="field">
        {{ form.riskgroup_diabetes }}
        {{ form.riskgroup_diabetes.label }}
    </div>
    <div class="field">
        {{ form.riskgroup_hiv }}
        {{ form.riskgroup_hiv.label }}
    </div>
    <div class="field">
        {{ form.riskgroup_prison }}
        {{ form.riskgroup_prison.label }}
    </div>
    <div class="field">
        {{ form.riskgroup_indigenous }}
        {{ form.riskgroup_indigenous.label }}
    </div>
    <div class="field">
        {{ form.riskgroup_urbanpoor }}
        {{ form.riskgroup_urbanpoor.label }}
    </div>
    <div class="field">
        {{ form.riskgroup_ruralpoor }}
        {{ form.riskgroup_ruralpoor.label }}
    </div>
    <div class="field">
        {{ form.n_organs.label }}
        {{ form.n_organs }}
    </div>
    <div class="field">
        {{ form.n_strains.label }}
        {{ form.n_strains }}
    </div>
</div>
