<button type="button" class="menu_button" onclick="toggle('ms_office_outputs');">
    <span class="menu_item">MS Office outputs</span>
</button>
<div id="ms_office_outputs" class="group">
    <div class="field">
        {{ form.output_spreadsheets }}
        {{ form.output_spreadsheets.label }}
    </div>
    <div class="field">
        {{ form.output_documents }}
        {{ form.output_documents.label }}
    </div>
    <div class="field">
        {{ form.output_by_scenario }}
        {{ form.output_by_scenario.label }}
    </div>
    <div class="field">
        {{ form.output_horizontally }}
        {{ form.output_horizontally.label }}
    </div>
</div>
