<button type="button" class="menu_button" onclick="toggle('plotting');">
    <span class="menu_item">Plotting</span>
</button>
<div id="plotting" class="group">
    <div class="field">
        {{ form.output_flow_diagram }}
        {{ form.output_flow_diagram.label }}
    </div>
    <div class="field">
        {{ form.output_compartment_populations }}
        {{ form.output_compartment_populations.label }}
    </div>
    <div class="field">
        {{ form.output_riskgroup_fractions }}
        {{ form.output_riskgroup_fractions.label }}
    </div>
    <div class="field">
        {{ form.output_age_fractions }}
        {{ form.output_age_fractions.label }}
    </div>
    <div class="field">
        {{ form.output_by_subgroups }}
        {{ form.output_by_subgroups.label }}
    </div>
    <div class="field">
        {{ form.output_fractions }}
        {{ form.output_fractions.label }}
    </div>
    <div class="field">
        {{ form.output_scaleups }}
        {{ form.output_scaleups.label }}
    </div>
    <div class="field">
        {{ form.output_gtb_plots }}
        {{ form.output_gtb_plots.label }}
    </div>
    <div class="field">
        {{ form.output_plot_economics }}
        {{ form.output_plot_economics.label }}
    </div>
    <div class="field">
        {{ form.output_plot_riskgroup_checks }}
        {{ form.output_plot_riskgroup_checks.label }}
    </div>
    <div class="field">
        {{ form.output_param_plots }}
        {{ form.output_param_plots.label }}
    </div>
    <div class="field">
        {{ form.output_popsize_plot }}
        {{ form.output_popsize_plot.label }}
    </div>
    <div class="field">
        {{ form.output_likelihood_plot }}
        {{ form.output_likelihood_plot.label }}
    </div>
    <div class="field">
        {{ form.output_age_calculations }}
        {{ form.output_age_calculations.label }}
    </div>
</div>
