<div id="scenarios_to_run" class="group">
    <h3>Scenarios to run</h3>
    <div class="field">
        {{ form.scenario_1 }}
        {{ form.scenario_1.label }}
    </div>
    <div class="field">
        {{ form.scenario_2 }}
        {{ form.scenario_2.label }}
    </div>
    <div class="field">
        {{ form.scenario_3 }}
        {{ form.scenario_3.label }}
    </div>
    <div class="field">
        {{ form.scenario_4 }}
        {{ form.scenario_4.label }}
    </div>
    <div class="field">
        {{ form.scenario_5 }}
        {{ form.scenario_5.label }}
    </div>
    <div class="field">
        {{ form.scenario_6 }}
        {{ form.scenario_6.label }}
    </div>
    <div class="field">
        {{ form.scenario_7 }}
        {{ form.scenario_7.label }}
    </div>
    <div class="field">
        {{ form.scenario_8 }}
        {{ form.scenario_8.label }}
    </div>
    <div class="field">
        {{ form.scenario_9 }}
        {{ form.scenario_9.label }}
    </div>
    <div class="field">
        {{ form.scenario_10 }}
        {{ form.scenario_10.label }}
    </div>
    <div class="field">
        {{ form.scenario_11 }}
        {{ form.scenario_11.label }}
    </div>
    <div class="field">
        {{ form.scenario_12 }}
        {{ form.scenario_12.label }}
    </div>
    <div class="field">
        {{ form.scenario_13 }}
        {{ form.scenario_13.label }}
    </div>
    <div class="field">
        {{ form.scenario_14 }}
        {{ form.scenario_14.label }}
    </div>
</div>
