<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <style>

    border {
      stroke: white;
      stroke-width: 0.25px;
      fill: gray;
    }

    .country {
      fill: gray;
    }


    .Range {
     height: 50px;
     width: 200px;
    }

    .RangeLabel {
        color: "black";
        font-weight: bold;
    }

    .RangeOutput {
        color: "black";
        font-weight: italics;
    }

    .Selection {
       height: 30px;
       width: 200px;
       margin-top: 5px;
    }
	
	
    .SelectionLabel {
        color: "black";
        font-weight: bold;
    }
	
	.MultiSelectionLabel {
		color: "black";
        font-weight: bold;
	
	}
	
	.MultiSelection {
	   height: 300px;
       width: 220px;
       margin-top: 5px;
	   overflow-y: hidden;
	
	}

    .CheckLabel {
        color: "black";
        font-weight: bold;
    }
	
	.NumberLabel {
        color: "black";
        font-weight: bold;
    }
	
	.Number {
	
       margin-top: 5px;
	
	}

    .Check {
        transform: scale(0.8);
        margin-top: 5px;
    }

    input, label, select, output {
        display: block;
        text-align: center;
        margin: 0 auto;
		text-align-last: center;
    }
	
	label {
		
		font-size: 120%;
	
	}
	
	.Button {
	
	width: 10em;
	height: 5em;
	
	}
	
	
	.ControlBoard {
	
		cursor: pointer;
	
	}
	
	.menuButton {
	
		cursor: pointer;
	
	}

	div.console {
        position: absolute;
        font-family: 'Dosis', sans-serif;
        text-align: center;
        padding: 11px;
        font-size: 20px;
        background: #333;
		display: block;
		background-color: #f6f6f6;
		overflow: auto;
		border-style: ridge;
        border-radius: 12px;
		border-color: darkgray;
        pointer-events: none;
		width: 700px;
		height: 500px;
    }
	
	div.graph {
        position: absolute;
        font-family: times;
        padding: 11px;
        font-size: 30px;
        background: #333;
		display: block;
		background-color: #f6f6f6;
		overflow: auto;
		border-style: ridge;
        border-radius: 12px;
		border-color: darkgray;
		width: 700px;
		height: 500px;
    }

    </style>
    <title>AuTuMN</title>
</head>
<body>

<script src="/static/js/d3.v3.min.js" type="text/javascript"></script>
<script src="/static/js/queue.v1.min.js" type="text/javascript"></script>
<script src="/static/js/topojson.v0.min.js" type="text/javascript"></script>
<script src="/static/js/highcharts.js" type="text/javascript"></script>
<script src="/static/js/socket.io-1.4.5.js" type="text/javascript"></script>
<script src="/static/js/jquery.min.js" type="text/javascript"></script>
<script src="/static/js/exporting.js" type="text/javascript"></script>
<script src="/static/js/offline-exporting.js" type="text/javascript"></script>
<script src="/static/themes/grid-light.js" type="text/javascript"></script>
<script src="/static/fonts/dosis.css" type="text/css"></script>

<script>

var controls = {

    "main": [
        {"id": "countrySelection", "class": "Selection", "options": ["Fiji", "The Philippines", "Bulgaria"],
          "label": "Country"},
        {"id": "methodSelection", "class": "Selection","options": ["Method 5", "Method 1", "Method 2", "Method 3", "Method 4"],
          "label": "Method"},
		  {"id": "explicitSelection", "class": "Selection", "options": ["Runge Kutta", "Explicit"],
          "label": "Style"},
        {"id": "fittingSmoothness", "class": "Number", "min": 0, "max": 10, "default": 1, "step": 0.01,
          "label": "Fitting Smoothness"},
        {"id": "integrationTime", "class": "Number", "min": 0, "max": 1, "default": 0.1, "step": 0.01,
          "label": "Integration Time Step"}
    ],

    "stratifications": [
           {"id": "strainSelection", "class": "Selection", "options": ["Single", "DS/MDR", "DS/MDR/XDR"], "label": "Strains"},
           {"id": "smearSelection", "class": "Selection",  "options": ["Positive/Negative/Extra", "Unstratified", "Positive/Negative"],
                 "label": "Smears"},
           {"id": "diabetesCheck", "class": "Check", "label": "Diabetes Type II", "checked": "false"},
		   {"id": "hivCheck", "class": "Check", "label": "HIV", "checked": "false"}
    ],
	
	"scenarios": [
		{"id": "scenarioSelection", "class": "MultiSelection", "label": "Scenarios", "options": ["Scenario 1", "Scenario 2", "Scenario 3", "Scenario 4", 
																						  "Scenario 5", "Scenario 6", "Scenario 7", "Scenario 8",
																						  "Scenario 9", "Scenario 10", "Scenario 11", "Scenario 12",
																						  "Scenario 13", "Scenario 14"]}
	],
	
	"plotting": [
		{"id": "plotSelection", "class": "MultiSelection", "label": "Plots", "options": ["Flow Diagram", "Compartment Sizes", "Proportions by Risk Group", "Proportions by Age", 
																						  "Outcomes by Age Group", "Compartment Fractions", "Scale-up Functions", "Outcomes",
																						  "Economic Graphs", "Risk group Checks", "Parameter Progression", "Popsize for Cost-coverage",
																						  "Log Likelihood over Runs", "Age Calculation Weights"]}
	],
	
	"uncertainty": [
		{"id": "uncertaintyCheck", "class": "Check", "label": "Run Uncertainty", "checked": "true"},
		{"id": "adaptiveCheck", "class": "Check", "label": "Adaptive Search", "checked": "true"},
		{"id": "uncertaintyNumber", "class": "Number", "min": 1, "label": "Runs", "default": 10, "step": 1},
		{"id": "burninNumber", "class": "Number", "label": "Burn-in Runs", "default": 0, "step": 1, "min": 0},
		{"id": "searchNumber", "class": "Number", "label": "Relative Search Width", "default": 0.08, "step": 0.01, "min": 0},
		{"id": "ioSelection", "class": "Selection", "label": "Save / Load", "options": ["No Saving / Loading", "Save", "Load"]}
		
	],

    "elaborations": [
        {"id": "careCheck", "class": "Check", "label": "Low Quality Care", "checked": "false"},
        {"id": "amplificationCheck", "class": "Check", "label": "Res Amplification", "checked": "false"},
        {"id": "misassignmentCheck", "class": "Check", "label": "Strain Mis-assignment", "checked": "false"}
    ],
	
	"output": [
		{"id": "spreadsheetCheck", "class": "Check", "label": "Write to Spreadsheet", "checked": "false"},
		{"id": "documentsCheck", "class": "Check", "label": "Write to Documents", "checked": "false"},
		{"id": "byscenarioCheck", "class": "Check", "label": "Output by Scenario", "checked": "false"},
		{"id": "horizontalCheck", "class": "Check", "label": "Write Horizontally", "checked": "false"}
	
	]

};

var settings = {

	"spreadsheetCheck": "false",
	"documentsCheck": "false",
	"byscenarioCheck": "false",
	"horizontalCheck": "false",
	
	"careCheck": "false",
	"amplificationCheck": "false",
	"misassignmentCheck": "false",
	
	"uncertaintyCheck": "true",
	"adaptiveCheck": "true",
	"uncertaintyNumber": 10,
	"burninNumber": 0,
	"searchNumber": 0.08,
	"ioSelection": "No Saving / Loading",
	"plotSelection": [],
	"scenarioSelection": [],
	
	"diabetesCheck": "false",
	"hivCheck": "false",
	"smearSelection": "Positive/Negative/Extra",
	"strainSelection": "Single",
	
	"integrationTime": 0.1,
	"fittingSmoothness": 1,
	"explicitSelection": "Runge Kutta",
	"methodSelection": "Method 5",
	"countrySelection": "Fiji"
	
}

var foreignSizes = {
	"MultiSelection": {"width": "220px", "height": "350px"},
	"Selection": {"height": "60px", "width": "200px"},
	"Check": {"height": "60px", "width": "200px"},
	"Number": {"height": "60px", "width": "200px"},
	"Range": {"height": "100px", "width": "200px"},
	"Button": {"height": "100px", "width": "200px"}

}

// Setting up globally available variables:

var socketSpace = {};

var width = 2000,
    height = 1600;

var svg = d3.select("body").append("svg").attr("class", "Canvas")
    .attr("width", width)
    .attr("height", height);
	
var popup = d3.select("body").append("div")
        .attr("class", "console")
		.attr("id", "Console")
        .style("opacity", 0);

var graph = d3.select("body").append("div")
        .attr("class", "graph")
		.attr("id", "Graph")
        .style("opacity", 0);

var triangleScale = d3.scale.linear()
						.domain([1,6])
						.range([100,1000]);
						
var triangulator = d3.svg.symbol().type('triangle-up')
					.size(function(d){ return triangleScale(d.size); });

var currentMenu = 0;
					
var menuButtons = [{"control_x": 0.65, "control_y": 0.55, "control_rot": 90, "size": 4, "type": "forward", "id": "menuForward", "class": "menuButton"},
				   {"control_x": 0.35, "control_y": 0.55, "control_rot": -90, "size": 4, "type": "back", "id": "menuBack", "class": "menuButton"}];

var menuOrder = ["main", "uncertainty", "scenarios", "stratifications", "elaborations", "plotting", "output"];

var chart1;


$(document).ready(function(){
	
	// When the document is loaded completely, add socket and tests connection
	
	socketSpace.socketStart = io.connect('http://' + document.domain + ':' + location.port + '/autumn');
	
	socketSpace.socketStart.on('connection_response', function(msg) {
		console.log("Launched connection through SocketIO (START).");
		console.log("Received message:", msg.message)
		//$('#Console').append('<p>Received: ' + msg.data + '</p>');
	});
				
});
		 
// Call the main function to load the GUI
		 
main();

function main(){

loadTitle();
loadGlobe();
loadMain();

}

function makeUncertaintyGraph(){
	
	// Inititates the graph structure for the uncertainty graph,
	// any basic changes in sub-title, axes etc. are made here.
	
	var chart1 = Highcharts.chart('Graph', {
					chart: {
						type: 'line',
						events: {
							load: updateData
						}
					},
					title: {
						text: 'Parameters (Uncertainty)'
					},
					xAxis: {
						title: {
							text: 'Iteration'
						},
						type: 'category'
					},
					yAxis: {
						title: {
							text: 'Value'
						}
					},
					series: []
				});

}

function makePanel(target, panel, control_x=0.39, control_y=0.5, fade_in=0, panel_x=0, panel_y=0.07){

// Function to generate a panel from the control dictionary.
// This is done to interactively add and remove control panels upon selection.
// Args:
//  target variable of viewport (class Shell) to append the control view port and controls to
//  panel  string entry of controls dictionary specifying the panel controls
//  panel_x, panel_y - scaling variables for adjusting location of controls within panels
//  control_x, control_y - scaling variables for adjusting location of viewports (class controlPanel)

var port = target.append("g")
      .attr("class", "controlPanel")
      .attr("id", panel + "Panel")
      .attr("transform", "translate(" + width * control_x + "," + height * control_y + ")")
	  .style("display", function(){ if (panel=="main") { return "block" } 
									else { return "none" } } );

port.selectAll("g")
      .data(controls[panel])
      .enter()
      .append("foreignObject")
	  .attr("opacity", 0)
      .attr("class", function(d) { return d.class + "Object"})
	  .attr("width", function(d) { return foreignSizes[d.class].width } )
      .attr("height", function(d) { return foreignSizes[d.class].height })
      .attr("x", panel_x)
      .attr("y", function(d, i) { return height * panel_y * i}) // this is a bit weird, but scales with changes to Canvas
      .each(addInput)
	  .transition()
	  .duration(function(){ if (panel=="main") { return 4000 } 
							else { return fade_in } })
	  .attr("opacity", 1);
	 
}

function runModel(d, i) {
		
		// Function that runs the model and is called on pressing the text "RunModel"
		
		if (d3.select(this).text() == "Run Model") {
			
			// If the value of the button is "Run Model", start the following:
		
			// This prevents double or triple messaging error (when not closing connections)
			// in following runs of the model.
			
			socketSpace.socketStart.removeAllListeners()
			
			console.log("Starting model, posting data...");
			
			d3.select("#ControlShell")
			  .transition()
			  .duration(2000)
			  .attr("transform", function(d) {
				if (settings["uncertaintyCheck"] == "true"){
					return "translate(0,500)"
				} else {
					return "translate(0,500)"
				}
			  });
			
			
			if (settings["uncertaintyCheck"] == "true"){
				
				popup.style("left", width * 0.13 + "px")
				.style("top", height * 0.4 + "px")
				.style("text-align", "left");
				
				graph.style("left", width * 0.52 + "px")
					.style("top", height * 0.4 + "px")
				
				graph.transition()
					.duration(5000)
					.style("opacity", .9);
					
			} else {
			
				popup.style("left", width * 0.32 + "px")
				.style("top", height * 0.4 + "px")
				.style("text-align", "left");
			
			}
			
			popup.transition()
				.duration(5000)
				.style("opacity", .9);
			
			socketSpace.socketStart.emit('run_model', {data: settings, message: "Starting the model, received data..."});
			socketSpace.socketStart.on("console", function(msg){
				$('#Console').append('<p>' + msg.message + '</p>');
			});
			
			makeUncertaintyGraph();
					
			//console.log("Setting to Stop")
			writeText("Back");
			
			// There will be a STOP button here to cancel ModelRunner
			// For now, just remove the Control Panel
			
			removeControls();
			
			d3.select("#MainShell").transition().duration(2000)
			.attr("transform", "translate(" + width * 0.5 + "," + height * 0.8 + ")");
					
		} else {
				
		d3.select("#MainShell").transition().duration(2000)
			.attr("transform", "translate(" + width * 0.5 + "," + height * 0.42 + ")");
		
		popup.transition()
				.duration(500)
				.style("opacity", .0)
				
		graph.transition()
				.duration(500)
				.style("opacity", .0)
				
		$("#Graph").empty();
		$("#Console").empty();
		
		console.log("Resetting Menu")
		
		writeText("Controls");
		
		d3.select(this).on("click", loadControlBoard)
		
		socketSpace.socketStart.removeAllListeners()
			
		
		}
		
	}

function updateData(msg){
	
	// This function is called by the Highcharts graph made in makeUncertaintyGraph()
	// On signal from the socket (parameter data in uncertainty runs sent from model_runner.py)
	// it first checks whether this is the first time data is sent and adds the apprpriate number
	// of lines (and their names) to add to the graph. It then (and on each data receipt following)
	// adds the points (last data points in each series) to the graph.
	
	var chart1 = this;
	
	socketSpace.socketStart.on("uncertainty_graph", function(msg){
			
			console.log("Updating graph...");
			
			if (msg.count == 0){
				
				// If the count of sent emissions from the plotting function in uncertainty
				// is 0, then initialize then  number of series with their proper names to chart
				console.log("Inititating graph series...");
				for (var i = 0; i < msg.data.length; i++){
					chart1.addSeries({
						name: msg.names[i],
						data: []
					})
				}
			}
			
			// Add data points from sent emission to graph and shift the 
			// graph series if its lengths exceeds 30
			
			for (var i = 0; i < msg.data.length; i++){
						var series = chart1.series[i],
							shift = series.data.length > 30;
						series.addPoint(msg.data[i], true, shift);
					}
			
		});

}
	
function addInput(d, i) {


    function change(d, i) {
			
			console.log(d.class);
			
			if (d.class == "MultiSelection") {
			
				elem = [].slice.call(document.querySelector("#" + d.id).selectedOptions);
				
				setting = elem.map(function(el){ return el.value; });
				
			} else if (d.class == "Check") {
				
				if (this.getAttribute("check") == "false"){
					this.setAttribute("check", "true");
					setting = "true";
				} else {
					this.setAttribute("check", "false")
					setting = "false";
				}
							
			
			} else {
			
				setting = this.value;
			
			}
			
			settings[d.id] = setting;
			
			console.log(setting);
			
        }

	
    var object = d3.select(this);

    if (d.class == "Selection") {
				
        object.append("xhtml:label")
                    .attr("class", d.class + "Label")
                    .text(d.label)
		
				.append("xhtml:select")
					   .attr("class", d.class)
					   .attr("id", d.id)
					   .on("change", change)
					   .selectAll("option")
					   .data(d.options)
					   .enter()
					   .append("option")
					   .text(function(d) {return d})
					   .attr("value", function(d) {return d});

    }
	
	if (d.class == "MultiSelection") {
		
		object.append("xhtml:label")
                    .attr("class", d.class + "Label")
                    .text(d.label)
		
					.append("xhtml:select")
					.attr("multiple", "multiple")
				   .attr("class", d.class)
				   .attr("id", d.id)
				   .on("change", change)
				   .selectAll("option")
				   .data(d.options)
				   .enter()
				   .append("option")
				   .text(function(d) {return d})
				   .attr("value", function(d) {return d});
		
	}

    if (d.class == "Range") {

        object.append("xhtml:label")
                    .attr("class", d.class + "Label")
                    .text(d.label)
		
				.append("xhtml:input")
				   .attr("type", "range")
				   .attr("min", d.min)
				   .attr("max", d.max)
				   .attr("step", d.step)
				   .attr("value", d.default)
				   .attr("oninput", d.id + "Output" + ".value = " + d.id + ".value")
				   .attr("class", d.class)
				   .attr("id", d.id)
				   .on("change", change)

        object.append("xhtml:output")
              .attr("class", "RangeOutput")
              .attr("id", d.id + "Output")
              .attr("value", d.default)
    }
	
	if (d.class == "Number"){
	
	object.append("xhtml:label")
                    .attr("class", d.class + "Label")
                    .text(d.label)
		
				.append("xhtml:input")
				   .attr("type", "number")
				   .attr("min", d.min)
				   .attr("step", d.step)
				   .attr("value", d.default)
				   .attr("class", d.class)
				   .attr("id", d.id)
				   .on("change", change)
	
	}
	
    if (d.class == "Check"){

        object.append("xhtml:label")
                    .attr("class", d.class + "Label")
                    .text(d.label)
		
			.append("xhtml:input")
				   .attr("type", "checkbox")
				   .attr("class", d.class)
				   .attr("id", d.id)
				   .attr("check", d.checked)
				   .on("change", change)
				
		if (settings[d.id] == "true"){
			console.log("Setting " + d.id + "to checked...");
			$("#" + d.id).attr('checked', true);
		}

    }
	
	if (d.class == "Button"){
		
		object.append("xhtml:input")
			  .attr("type", "submit")			  
			  .attr("value", d.label)
			  .attr("class", d.class)
			  .attr("attr", d.id)
			  .on("click", runModel)
			  
	
	}
}

function loadMain(){


mainShell = svg.append("g").attr("class", "Shell")
                            .attr("id", "MainShell")
                            .attr("transform", "translate(" + width * 0.5 + "," + height * 0.42 + ")");


mainShell.append("text")
  .style("opacity", 1)
  .style("text-anchor", "middle")
  .style("font-size", "200%")
  .style("font-weight", "bold")
  .style("font-family", "times")
  .style("fill", "darkgray")
  .style("opacity", 0)
  .attr("class", "ControlBoard")
  .text('Controls')
  .on("mouseover", function(d, i) {
		d3.select(this).style("fill", "gray")
  })
  .on("mouseout", function(d, i) {
		d3.select(this).style("fill", "darkgray")
  })
  .on("click", loadControlBoard)
  .transition()
  .delay(3000)
  .duration(2000)
  .style("opacity", 1);
  
}

function writeText(txt) {
    d3.select('.ControlBoard')
		.transition()
        .duration(4000)
        .ease("bounce-out")
        .text(txt) 
}

function loadControlBoard(d, i){

	d3.select(this).style("fill", "gray")
				   .transition().duration(300)
				   .attr("fill", "darkgray");
		
	if (d3.select(this).text() == "Controls"){
		
		d3.select(this).on("click", runModel);
		
		d3.select("#MainShell").transition().duration(2000)
			.attr("transform", "translate(" + width * 0.5 + "," + height * 0.9 + ")");
			
		loadControls()
		
		writeText("Run Model")
		
		
	}
	
}

function removeControls(){
	
	d3.selectAll(".menuButton").transition().duration(2000).attr("opacity", 0);
	d3.select("#ControlShell").transition().delay(2000).remove();
	d3.select("#" + menuOrder[currentMenu] + "Panel").remove();
	
	currentMenu = 0

}

function loadMenus(){

	for (var i = 0; i < menuOrder.length; i++){
		makePanel(d3.select("#ControlShell"), menuOrder[i], control_x = 0.45, control_y = 0.45, fade_in=0)
	}
}

function changeMenu(d, i){
		
	btn = d3.select(this).attr("fill", "darkgray")
						 .transition().duration(300)
						 .attr("fill", "gray");
	
	d3.select("#" + menuOrder[currentMenu] + "Panel").style("display", "none");
	
	if (d.type == "forward"){
		currentMenu += 1
	} else {
		currentMenu -= 1
	}
	
	if (currentMenu < 0){
		currentMenu = menuOrder.length-1
	}
	
	if (currentMenu > menuOrder.length-1){
		currentMenu = 0
	}
	
	d3.select("#" + menuOrder[currentMenu] + "Panel").style("display", "block");
	
	//makePanel(d3.select("#ControlShell"), menuOrder[currentMenu], control_x = 0.45, control_y = 0.45)
	
	console.log(currentMenu)
	
}

function loadControls(){

var controlShell = svg.append("g").attr("class", "Shell")
                                  .attr("id", "ControlShell");
								  

var line = controlShell.selectAll('path')
			.data(menuButtons)
			.enter()
			.append('path')
			.attr('d', triangulator)
			.attr('fill', "gray")
			.attr('stroke','#000')
			.attr('stroke-width',1)
			.attr("opacity", 0)
			.attr("id", function(d) { return d.id })
			.attr("class", function(d) { return d.class })
			.attr("transform", function(d) { return "translate(" + width * d.control_x + "," + height * d.control_y + ")rotate(" + d.control_rot + ")" })
			.on("click", changeMenu)
			.transition()
			.duration(2000)
			.attr("opacity", 1);

// Load first Menu

//setTimeout(function() { makePanel(d3.select("#ControlShell"), menuOrder[currentMenu], control_x = 0.45, control_y = 0.45); }, 3000) ;

 //makePanel(d3.select("#ControlShell"), menuOrder[currentMenu], control_x = 0.45, control_y = 0.45, fade_in=4000);

loadMenus();
 
}

function loadGlobe() {

// Function to load the main globe above Title.
// Includes function automaticRotation for rotating the globe once it has loaded.



var globeShell = svg.append("g").attr("class", "Shell")
                                .attr("id", "GlobeShell");

var λ = d3.scale.linear()
    .domain([0, width])
    .range([-180, 180]);

var autumn_countries = [356, 710, 860, 608, 242, 598, 156, 36];


var current = 80, speed = 100;

function automaticRotation(){
            current += 1;
            projection.rotate([λ(current), 0]);
            globeShell.selectAll("path").attr("d", border);
        }

var projection = d3.geo.orthographic()
    .translate([width / 2, height / 6])
    .clipAngle(90)
    .scale(200);

var border = d3.geo.path()
    .projection(projection);

queue()
    .defer(d3.json, "/static/world-110m.json")
    .await(loadProjection);

function loadProjection(error, topology, points) {

    globeShell.selectAll("path")
      .data(topojson.object(topology, topology.objects.countries)
          .geometries)
      .enter()
      .append("path")
      .attr("id", function(d) { return d.id; })
      .attr("d", border)
      .attr("class", "country")
      .style("opacity", 0)
      .transition().duration(2000).style("opacity", 1)
      .transition().duration(2000).style("fill", function(d) {
                                    if (autumn_countries.includes(d.id)) { return "red" }
                                    });


      intervalID = setInterval(automaticRotation, speed);

    }

}


function loadTitle(){

// Function to load title and typewrite-tween letters through 'writeTitle'

titleShell = svg.append("g").attr("class", "Shell")
                            .attr("id", "TitleShell")
                            .attr("transform", "translate(" + width / 2 + "," + height / 5 + ")");

function writeTitle() {
    d3.select('.Title').transition()
        .duration(3000)
        .ease("bounce-out")
        .tween("text", function () {
            var newText = "AuTuMN"
            var textLength = newText.length;
            return function (t) {
                this.textContent = newText.substr(0,
                                   Math.round( t * textLength+1) );
            };
        });

}


titleShell.append("text")
  .style("opacity", 1)
  .style("text-anchor", "middle")
  .style("font-size", "400%")
  .style("font-weight", "bold")
  .style("font-family", "times")
  .attr("class", "Title")
  .attr("dy", "4em")
  .text('AuTuMN');

writeTitle();

}

</script>


</body>
</html>
