#
#  Used for Python versions >= 3.8
#  This is actively tested for 3.8, 3.9 and 3.10
#  

# Summer compartmental modelling
# https://github.com/monash-emu/summer
# will also include
# - numba
# - numpy
# - networkx
# - scipy
# https://github.com/monash-emu/summer/blob/master/pyproject.toml#L21
summerepi==3.6.4
summerepi2==1.2.9

estival==0.3.4

# Jax for Windows (summer2 requirement)
# Linux/OSX already installed via computegraph
#-f https://whls.blob.core.windows.net/unstable/index.html
#jax[cpu]===0.3.25; sys_platform == 'win32'
jax[cpu]==0.4.13

# Interaction
jupyterlab==3.2.0
jupyterlab_templates
ipympl

# Data visualization
matplotlib
seaborn
plotly
cufflinks
kaleido

# Numerical computing
numpy>=1.21.5
pandas==1.4.1
openpyxl
pyDOE
numba
scipy==1.8.1
networkx
numpyro==0.10.1

# Database and file access
SQLAlchemy==1.4.46
pyarrow
tables==3.8.0
h5py==3.8.0

# Utility
pyyaml
pydantic==1.10.9
pyAesCrypt
googledrivedownloader
statsmodels
fpdf2
gitpython

# Testing
pytest==7.1.3
pytest-parallel
pytest-benchmark
isort
moto[s3]  # Mock out AWS S3 storage

# Development
black
flake8
pre-commit

# Notebook management
nbstripout

# AWS / buildkite infrastructure
boto3==1.21.29
timeago
click
tabulate
fabric
s3fs==0.4.2
parallel-ssh
cloudpickle
