#
#  Used for Python versions >= 3.8
#  This is actively tested for 3.8, 3.9 and 3.10
#  

# Summer compartmental modelling
# https://github.com/monash-emu/summer
# will also include
# - numba
# - numpy
# - networkx
# - scipy
# https://github.com/monash-emu/summer/blob/master/pyproject.toml#L21
summerepi==3.1.3

# Interaction
jupyterlab==3.2.0
jupyterlab_templates
ipympl

# Data visualization
matplotlib
seaborn
plotly
cufflinks
kaleido

# Numerical computing
numpy>=1.21.5
pandas==1.4.1
openpyxl
pyDOE
numba
scipy==1.8.1
networkx
computegraph

# Database access
SQLAlchemy
pyarrow

# Utility
pyyaml
pydantic
pyAesCrypt
googledrivedownloader
statsmodels
fpdf2
gitpython

# Testing
pytest
pytest-parallel
pytest-benchmark
isort
moto[s3]  # Mock out AWS S3 storage

# Development
black
flake8
pre-commit

# Notebook management
nbstripout

# AWS / buildkite infrastructure
boto3==1.21.29
timeago
click
tabulate
awscli==1.22.84
fabric
s3fs==0.4.2
