# Systemd file for Promtail service, which ships logs from the server to Grafana
# https://www.digitalocean.com/community/tutorials/understanding-systemd-units-and-unit-files
[Unit]
Description=Promtail service
After=network.target

[Service]
Type=simple
User=root
ExecStart=/usr/local/bin/promtail -config.file /etc/promtail.yml

[Install]
WantedBy=multi-user.target
